<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add necessary dependencies, styles, and scripts -->
</head>
<body>
    <style>
        .chessboard {
            background-image: url("/images/bancotuong.jpg");
            width: 850px;
            height: 850px;
            position: absolute;
        }
    
        .chessnode {
            position: absolute;
            width: 50px;
            height: 50px;
        }
    
        .chessimgnode {
            width: 50px;
            height: 50px;
        }
    </style>
    <div id="app" style="min-height:900px">
        
        <div class="chessboard">
            <div v-for="item in chessNode" class="chessnode"
                    v-on:dragstart="dragStart"
                    v-on:dragend="dragEnd"
                    :id="item.id" :style="{ display: item.visible, top: item.top + 'px', left: item.left + 'px' }">
                    <img :src="'/images' + item.src" class="chessimgnode" />
            </div>
        </div>
    </div>
</body>
</html>
<script th:inline="javascript">
   
    var matrix = [];
    var currentPlayer;
    var app = new Vue({
        el: "#app",
        data: {
            chessNode: [],
            msg: "test message",
            top:0,
            left:0
        },
        methods: {
            getChessNode() {
                axios({
                    method: 'GET',
                    url: '/api/getChessBoard',
                    responseType: 'Json'
                }).then((response) =>  {
                    this.chessNode = response.data.chessNodeList;
                    this.matrix = response.data.matrix; // Gán dữ liệu ma trận từ API
                    this.currentPlayer = "do";
                    console.log(this.matrix);
                    console.log(this.chessNode);
                }).catch((error) => {
                    console.error('Error fetching chess board data:', error);
                });
            },
            checkIndex(top, left){
                var obj = {};
                
                for (var i = 0; i < this.matrix.length;i++){
                    for(var j=0;j < this.matrix[i].length;j++){
                        if (Math.abs(this.matrix[i][j].top - top) <20 && Math.abs(this.matrix[i][j].left - left) < 20){
                            obj.i = i;
                            obj.j = j;
                            return obj;
                        }
                    }
                }
                return null;
            },
            dragStart(event){
                console.log("Bắt đầu");
                var id = event.currentTarget.id;
                this.top = event.clientY;
                this.left = event.clientX;
            },
            dragEnd(event){
                
                var clientXStart =  event.currentTarget.offsetLeft;
                var clientYStart =  event.currentTarget.offsetTop;
               
                var clientX = event.clientX - this.left + event.currentTarget.offsetLeft;
                var clientY = event.clientY - this.top + event.currentTarget.offsetTop;
                clientX = Math.abs(clientX);
                clientY = Math.abs(clientY);
                var objEnd = this.checkIndex(clientY, clientX);
                var objStart = this.checkIndex(clientYStart, clientXStart);
               
                if (objEnd == null){
                   return;
                }
                console.log("Player now is "+this.currentPlayer);
                
                if (this.currentPlayer === "do") {
                    if(event.currentTarget.id.indexOf("do") >= 0)
                    {
                        //Quân Mã
                        if (event.currentTarget.id.indexOf("ma") >=0 ){
                            if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) == 2) ||
                            (Math.abs(objStart.i - objEnd.i) == 2 && Math.abs(objStart.j - objEnd.j) == 1))
                            {
                                
                                if (Math.abs(objStart.i - objEnd.i) == 2){
                                    //Xung quanh tiến lên không bị chặn
                                    if (objEnd.i > objStart.i  && this.matrix[objStart.i + 1][objStart.j].id != " " )
                                    {
                                        
                                        return;
                                    }
                                    //Xung quanh lui về không bị chặn
                                    if (objEnd.i < objStart.i && this.matrix[objStart.i - 1][objStart.j].id != " " )
                                    {
                                        
                                        return;
                                    }
                                }
                                if (Math.abs(objStart.j - objEnd.j) == 2) {
                                    //Xung quanh ngang không bị chặn
                                    if (objEnd.j > objStart.j && this.matrix[objStart.i][objStart.j + 1].id != " "  )
                                    {
                                        
                                        return;
                                    }
                                    if (objEnd.j < objStart.j && this.matrix[objStart.i][objStart.j - 1].id != " " )
                                    {
                                        
                                        return;
                                    }
                                }
                                var tempchess = "do";
                                if(event.currentTarget.id.indexOf(tempchess) < 0)
                                {
                                    tempchess= "den";
                                }
                                if (this.matrix[objEnd.i][objEnd.j].id != " " && this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) >0)
                                {
                                    return;
                                }
    
                            }  
                            if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) != 2) ||
                            (Math.abs(objStart.i - objEnd.i) != 1 && Math.abs(objStart.j - objEnd.j) == 2) || (Math.abs(objStart.i - objEnd.i) == 2 && Math.abs(objStart.j - objEnd.j) != 1)
                            || (Math.abs(objStart.i - objEnd.i) != 2 && Math.abs(objStart.j - objEnd.j) == 1))
                            {
                                return;
                            }                          
                        }
                       
                        //Quân tướng
                        if (event.currentTarget.id.indexOf("chu") >=0 )
                        {
                            var tempchess = "do";
                            if(event.currentTarget.id.indexOf(tempchess) < 0)
                            {
                                tempchess= "den";
                            }
                            if( objEnd.i <= 2 && objEnd.j > 2 && objEnd.j < 6)
                            {
                                
                                if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) == 0) ||
                                (Math.abs(objStart.i - objEnd.i) == 0 && Math.abs(objStart.j - objEnd.j) == 1))
                                {
                                        console.log("KetQua:"+Math.abs(objStart.j - objEnd.j));
                                        if (Math.abs(objStart.i - objEnd.i) == 1){
                                           
                                            if (objEnd.i > objStart.i  && this.matrix[objStart.i + 1][objStart.j].id != " " &&
                                            this.matrix[objStart.i + 1][objStart.j].id.indexOf(tempchess) > 0 )
                                            {
                                                
                                                return;
                                            }
                                            if (objEnd.i < objStart.i && this.matrix[objStart.i - 1][objStart.j].id != " " &&
                                            this.matrix[objStart.i - 1][objStart.j].id.indexOf(tempchess) > 0 )
                                            {
                                                
                                                return;
                                            }
                                            
                                        }
                                        if(Math.abs(objStart.j - objEnd.j) == 1) 
                                        {
                                        
                                            if (objEnd.j > objStart.j && this.matrix[objStart.i][objStart.j + 1].id != " "  &&
                                            this.matrix[objStart.i][objStart.j + 1].id.indexOf(tempchess) > 0 )
                                            {
                                            
                                                return;
                                            }
                                            if (objEnd.j < objStart.j && this.matrix[objStart.i][objStart.j - 1].id != " " &&
                                            this.matrix[objStart.i][objStart.j - 1].id.indexOf(tempchess) > 0 )
                                            {
                                                
                                                return;
                                            }
                                            
                                        }
                                        
                                    
                                    

                                }
                                else if((Math.abs(objStart.i - objEnd.i) != 1 && Math.abs(objStart.j - objEnd.j) == 0) ||
                                (Math.abs(objStart.i - objEnd.i) == 0 && Math.abs(objStart.j - objEnd.j) != 1))
                                {
                                    return;
                                }
                                //Cấm đi chéo
                                else if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) != 0) ||
                                (Math.abs(objStart.i - objEnd.i) != 0 && Math.abs(objStart.j - objEnd.j) == 1))
                                {
                                    return;
                                }
                                if((Math.abs(objStart.i - objEnd.i) != 1 && Math.abs(objStart.j - objEnd.j) == 0) ||
                                (Math.abs(objStart.i - objEnd.i) == 0 && Math.abs(objStart.j - objEnd.j) != 1))
                                {
                                    return;
                                }
                            }
                            else
                            {
                                return;
                            }
                            
                            if (this.matrix[objEnd.i][objEnd.j].id != " " && this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) >0)
                            {
                                return;
                            }
                                    
                        }   

                        //Quân xe
                        if (event.currentTarget.id.indexOf("xe") >=0 )
                        {
                            var tempchess = "do";
                            if(event.currentTarget.id.indexOf(tempchess) < 0)
                            {
                                tempchess= "den";
                            }
                            
                            if((Math.abs(objStart.i - objEnd.i) > 0 && Math.abs(objStart.j - objEnd.j) == 0) ||  
                                (Math.abs(objStart.i - objEnd.i) == 0 && Math.abs(objStart.j - objEnd.j) > 0) )
                            {
                                if (Math.abs(objStart.i - objEnd.i) > 0){

                                    if(objEnd.i > objStart.i)
                                    {
                                        for(var s = objStart.i+1; s < objEnd.i; s++)
                                        {
                                            console.log("quan co hien tai la:"+s);
                                            if ( this.matrix[s][objStart.j].id != " " &&
                                            this.matrix[s][objStart.j].id.indexOf(tempchess) > 0 )
                                            {
                                                return;
                                            }
                                            
                                        }
                                    }
                                    if(objEnd.i < objStart.i)
                                    {
                                        for(var s = objStart.i-1; s >= objEnd.i; s--)
                                        {
                                            console.log("quan co hien tai la:"+s);
                                            if ( this.matrix[s][objStart.j].id != " " &&
                                            this.matrix[s][objStart.j].id.indexOf(tempchess) > 0 )
                                            {
                                                return;
                                            }
                                            
                                        }
                                    }
                                   
                                    
                                }
                                if(Math.abs(objStart.j - objEnd.j) > 0) 
                                {
                                    if(objEnd.j > objStart.j)
                                    {
                                        for(var s = objStart.j+1; s < objEnd.j; s++)
                                        {
                                            if (objEnd.j > objStart.j && this.matrix[objStart.i][s].id != " "  &&
                                            this.matrix[objStart.i][s].id.indexOf(tempchess) > 0 )
                                            {
                                                return;
                                            }
                                            
                                        }
                                    }
                                    else if(objEnd.j < objStart.j)
                                    {
                                        for(var s = objStart.j - 1; s >= objEnd.j; s--)
                                        {
                                            if ( this.matrix[objStart.i][s].id != " " &&
                                            this.matrix[objStart.i][s].id.indexOf(tempchess) > 0 )
                                            {
                                                return;
                                            }
                                        }
                                    }
                                    
                                    
                                }
                            }
                            else if((Math.abs(objStart.i - objEnd.i) > 0 && Math.abs(objStart.j - objEnd.j) == 0) ||  
                            (Math.abs(objStart.i - objEnd.i) == 0 && Math.abs(objStart.j - objEnd.j) > 0) )
                            {
                                return;
                            }
                            if (this.matrix[objEnd.i][objEnd.j].id != " " && this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) > 0)
                            {
                                return;
                            }
                            
                        }    

                        //Quân tượng
                        if (event.currentTarget.id.indexOf("tuong") >=0 )
                        {
                            var tempchess = "do";
                            if(event.currentTarget.id.indexOf(tempchess) < 0)
                            {
                                tempchess= "den";
                            }
                            if( objEnd.i < 5 && objEnd.j >= 0 && objEnd.j < 9)
                            {
                                if((Math.abs(objStart.i - objEnd.i) == 2 && Math.abs(objStart.j - objEnd.j) == 2))
                                {
                                   
                                        if(objStart.i == 0)
                                        {
                                            //Xung quanh ngang không bị chặn
                                            if (objEnd.j > objStart.j && this.matrix[objStart.i + 1][objStart.j + 1].id != " "  )
                                            {
                                                console.log("banPick1");
                                                return;
                                            }
                                            if (objEnd.j < objStart.j && this.matrix[objStart.i + 1][objStart.j - 1].id != " "  )
                                            {
                                                console.log("banPick12");
                                                return;
                                            }
                                        }
                                        if(objStart.i >0)
                                        {
                                            if(objStart.j > 0 && objStart.j < 8)
                                            {
                                                if (objEnd.j > objStart.j && this.matrix[objStart.i + 1][objStart.j + 1].id != " "  )
                                                {
                                                    console.log("banPick1");
                                                    return;
                                                }
                                                if (objEnd.j < objStart.j && this.matrix[objStart.i + 1][objStart.j - 1].id != " "  )
                                                {
                                                    console.log("banPick12");
                                                    return;
                                                }
                                                
                                               
                                                if (objEnd.i < objStart.i && this.matrix[objStart.i - 1][objStart.j - 1].id != " " )
                                                {
                                                    console.log("banPick2");
                                                    return;
                                                }
                                                else if (objEnd.i > objStart.i && this.matrix[objStart.i - 1][objStart.j + 1].id != " " )
                                                {
                                                    console.log("banPick3");
                                                    return;
                                                }
                                               
                                                
                                            }
                                            else
                                            {
                                                if(objStart.j == 0)
                                                {
                                                    if(objStart.j < objEnd.j && objStart.i > objEnd.i)
                                                    {
                                                        if(this.matrix[objStart.i - 1][objStart.j + 1].id != " " )
                                                        {
                                                            console.log("banPick4");
                                                            return;
                                                        }
                                                        
                                                    }
                                                    else if(objStart.j < objEnd.j && objStart.i < objEnd.i)
                                                    {
                                                        if(this.matrix[objStart.i + 1][objStart.j + 1].id != " " )
                                                        {
                                                            console.log("banPick4");
                                                            return;
                                                        }
                                                        
                                                    }
                                                    
                                                }
                                                if(objStart.j == 8)
                                                {
                                                    if(objStart.j > objEnd.j && objStart.i > objEnd.i)
                                                    {
                                                        if(this.matrix[objStart.i - 1][objStart.j - 1].id != " " )
                                                        {
                                                            console.log("banPick4");
                                                            return;
                                                        }
                                                        
                                                    }
                                                    else if(objStart.j > objEnd.j && objStart.i < objEnd.i)
                                                    {
                                                        if(this.matrix[objStart.i + 1][objStart.j - 1].id != " " )
                                                        {
                                                            console.log("banPick4");
                                                            return;
                                                        }
                                                        
                                                    }
                                                }
                                            }
                                            
                                        }
                                       
                                }
                                else if((Math.abs(objStart.i - objEnd.i) != 2 && Math.abs(objStart.j - objEnd.j) != 2) || 
                                (Math.abs(objStart.i - objEnd.i) == 2 && Math.abs(objStart.j - objEnd.j) != 2) || 
                                (Math.abs(objStart.i - objEnd.i) != 2 && Math.abs(objStart.j - objEnd.j) == 2)
                                )
                                {
                                    return;
                                }
                            }
                            else
                            {
                                return;
                            }
                            if (this.matrix[objEnd.i][objEnd.j].id != " " && this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) > 0)
                            {
                                return;
                            }
                        }

                        //Quân sĩ
                        if (event.currentTarget.id.indexOf("si") >=0 )
                        {
                            var tempchess = "do";
                            if(event.currentTarget.id.indexOf(tempchess) < 0)
                            {
                                tempchess= "den";
                            }

                            if( objEnd.i <= 2 && objEnd.j > 2 && objEnd.j < 6)
                            {
                                
                                if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) == 1))
                                {
                                    if(objStart.i == 0 && objStart.j == 3) 
                                    {
                                        if (objEnd.i > objStart.i  && this.matrix[objStart.i + 1][objStart.j + 1].id != " " &&
                                        this.matrix[objStart.i + 1][objStart.j + 1].id.indexOf(tempchess) > 0 )
                                        {
                                            
                                            return;
                                        }
                                    }  
                                    else if(objStart.i == 0 && objStart.j == 5)
                                    {
                                        if (objEnd.i > objStart.i && this.matrix[objStart.i + 1][objStart.j - 1].id != " "  &&
                                        this.matrix[objStart.i + 1][objStart.j + 1].id.indexOf(tempchess) > 0 )
                                        {
                                        
                                            return;
                                        }
                                    }
                                    
                                    //Giữa cung
                                    if(objStart.i == 1)
                                    {
                                        if ( this.matrix[objEnd.i][objEnd.j].id != " " &&
                                        this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) > 0 )
                                        {
                                            
                                            return;
                                        }
                                    }
                                    if(objStart.i == 2 && objStart.j == 3)
                                    {
                                        if ( this.matrix[objStart.i - 1][objStart.j + 1].id != " " &&
                                        this.matrix[objStart.i - 1][objStart.j + 1].id.indexOf(tempchess) > 0 )
                                        {
                                            
                                            return;
                                        }
                                    }
                                    else if(objStart.i == 2 && objStart.j == 5)
                                    {
                                        if (this.matrix[objStart.i - 1][objStart.j - 1].id != " " &&
                                        this.matrix[objStart.i - 1][objStart.j - 1].id.indexOf(tempchess) > 0 )
                                        {
                                            
                                            return;
                                        }
                                    }
                                    
                                       

                                            
                                       
                                    

                                }
                                else if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) != 1) ||
                                (Math.abs(objStart.i - objEnd.i) != 1 && Math.abs(objStart.j - objEnd.j) == 1) ||
                                (Math.abs(objStart.i - objEnd.i) != 1 && Math.abs(objStart.j - objEnd.j) != 1))
                                {
                                    return;
                                }
                                
                            }
                            else
                            {
                                return;
                            }
                            
                            if (this.matrix[objEnd.i][objEnd.j].id != " " && this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) >0)
                            {
                                return;
                            }
                        }

                            
                        

                        
                       

                    }
                    else
                    {
                        return;
                    }
                    
                }
                else if(this.currentPlayer === "den") 
                {
                    if(event.currentTarget.id.indexOf("den") >= 0)
                    {
                        //Quân Mã
                        if (event.currentTarget.id.indexOf("ma") >=0 ){
                            if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) == 2) ||
                            (Math.abs(objStart.i - objEnd.i) == 2 && Math.abs(objStart.j - objEnd.j) == 1))
                            {
                                
                                if (Math.abs(objStart.i - objEnd.i) == 2){
                                    if (objEnd.i > objStart.i  && this.matrix[objStart.i + 1][objStart.j].id != " " )
                                    {
                                        
                                        return;
                                    }
                                    if (objEnd.i < objStart.i && this.matrix[objStart.i - 1][objStart.j].id != " " )
                                    {
                                        
                                        return;
                                    }
                                }
                                if (Math.abs(objStart.j - objEnd.j) == 2) {
                                    if (objEnd.j > objStart.j && this.matrix[objStart.i][objStart.j + 1].id != " "  )
                                    {
                                        
                                        return;
                                    }
                                    if (objEnd.j < objStart.j && this.matrix[objStart.i][objStart.j - 1].id != " " )
                                    {
                                        
                                        return;
                                    }
                                }
                                var tempchess = "do";
                                if(event.currentTarget.id.indexOf(tempchess) < 0)
                                {
                                    tempchess= "den";
                                }
                                if (this.matrix[objEnd.i][objEnd.j].id != " " && this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) >0)
                                {
                                    return;
                                }
    
                            }  
                            if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) != 2) ||
                            (Math.abs(objStart.i - objEnd.i) != 1 && Math.abs(objStart.j - objEnd.j) == 2) || (Math.abs(objStart.i - objEnd.i) == 2 && Math.abs(objStart.j - objEnd.j) != 1)
                            || (Math.abs(objStart.i - objEnd.i) != 2 && Math.abs(objStart.j - objEnd.j) == 1))
                            {
                                return;
                            }                          
                        }
                        
                        //Quân tướng
                        if (event.currentTarget.id.indexOf("chu") >=0 )
                        {
                            var tempchess = "do";
                            if(event.currentTarget.id.indexOf(tempchess) < 0)
                            {
                                tempchess= "den";
                            }
                            
                            console.log(objStart.i);
                            if( objEnd.i <= 9 && objEnd.i > 6 &&  objEnd.j > 2 && objEnd.j <6)
                            {
                                
                                if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) == 0) ||
                                (Math.abs(objStart.i - objEnd.i) == 0 && Math.abs(objStart.j - objEnd.j) == 1))
                                {
                                        console.log("KetQua:"+Math.abs(objStart.j - objEnd.j));
                                        if (Math.abs(objStart.i - objEnd.i) == 1){
                                        
                                            if (objEnd.i > objStart.i  && this.matrix[objStart.i + 1][objStart.j].id != " " &&
                                            this.matrix[objStart.i + 1][objStart.j].id.indexOf(tempchess) > 0 )
                                            {
                                                
                                                return;
                                            }
                                            if (objEnd.i < objStart.i && this.matrix[objStart.i - 1][objStart.j].id != " " &&
                                            this.matrix[objStart.i - 1][objStart.j].id.indexOf(tempchess) > 0 )
                                            {
                                                
                                                return;
                                            }
                                            
                                        }
                                        if(Math.abs(objStart.j - objEnd.j) == 1) 
                                        {
                                        
                                            if (objEnd.j > objStart.j && this.matrix[objStart.i][objStart.j + 1].id != " "  &&
                                            this.matrix[objStart.i][objStart.j + 1].id.indexOf(tempchess) > 0 )
                                            {
                                            
                                                return;
                                            }
                                            if (objEnd.j < objStart.j && this.matrix[objStart.i][objStart.j - 1].id != " " &&
                                            this.matrix[objStart.i][objStart.j - 1].id.indexOf(tempchess) > 0 )
                                            {
                                                
                                                return;
                                            }
                                            
                                        }
                                        
                                    
                                    

                                }
                                else if((Math.abs(objStart.i - objEnd.i) != 1 && Math.abs(objStart.j - objEnd.j) == 0) ||
                                (Math.abs(objStart.i - objEnd.i) == 0 && Math.abs(objStart.j - objEnd.j) != 1))
                                {
                                    return;
                                }
                                //Cấm đi chéo
                                else if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) != 0) ||
                                (Math.abs(objStart.i - objEnd.i) != 0 && Math.abs(objStart.j - objEnd.j) == 1))
                                {
                                    return;
                                }
                                if((Math.abs(objStart.i - objEnd.i) != 1 && Math.abs(objStart.j - objEnd.j) == 0) ||
                                (Math.abs(objStart.i - objEnd.i) == 0 && Math.abs(objStart.j - objEnd.j) != 1))
                                {
                                    return;
                                }
                            }
                            if (this.matrix[objEnd.i][objEnd.j].id != " " && this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) >0)
                            {
                                return;
                            }
                        }

                        
                        //Quân xe
                        if (event.currentTarget.id.indexOf("xe") >=0 )
                        {
                            var tempchess = "do";
                            if(event.currentTarget.id.indexOf(tempchess) < 0)
                            {
                                tempchess= "den";
                            }
                            
                            if((Math.abs(objStart.i - objEnd.i) > 0 && Math.abs(objStart.j - objEnd.j) == 0) ||  
                                (Math.abs(objStart.i - objEnd.i) == 0 && Math.abs(objStart.j - objEnd.j) > 0) )
                            {
                                if (Math.abs(objStart.i - objEnd.i) > 0){

                                    if(objEnd.i > objStart.i)
                                    {
                                        for(var s = objStart.i+1; s < objEnd.i; s++)
                                        {
                                            console.log("quan co hien tai la1:"+s);
                                            if ( this.matrix[s][objStart.j].id != " " &&
                                            this.matrix[s][objStart.j].id.indexOf(tempchess) > 0 )
                                            {
                                                return;
                                            }
                                            
                                        }
                                    }
                                    if(objEnd.i < objStart.i)
                                    {
                                        for(var s = objStart.i-1; s >= objEnd.i; s--)
                                        {
                                            console.log("quan co hien tai la:"+s);
                                            if ( this.matrix[s][objStart.j].id != " " &&
                                            this.matrix[s][objStart.j].id.indexOf(tempchess) > 0 )
                                            {
                                                return;
                                            }
                                            
                                        }
                                    }
                                   
                                    
                                }
                                if(Math.abs(objStart.j - objEnd.j) > 0) 
                                {
                                    if(objEnd.j > objStart.j)
                                    {
                                        for(var s = objStart.j+1; s < objEnd.j; s++)
                                        {
                                            if (objEnd.j > objStart.j && this.matrix[objStart.i][s].id != " "  &&
                                            this.matrix[objStart.i][s].id.indexOf(tempchess) > 0 )
                                            {
                                                return;
                                            }
                                            
                                        }
                                    }
                                    else if(objEnd.j < objStart.j)
                                    {
                                        for(var s = objStart.j - 1; s >= objEnd.j; s--)
                                        {
                                            if ( this.matrix[objStart.i][s].id != " " &&
                                            this.matrix[objStart.i][s].id.indexOf(tempchess) > 0 )
                                            {
                                                return;
                                            }
                                        }
                                    }
                                    
                                    
                                }
                            }
                            else if((Math.abs(objStart.i - objEnd.i) > 0 && Math.abs(objStart.j - objEnd.j) == 0) ||  
                            (Math.abs(objStart.i - objEnd.i) == 0 && Math.abs(objStart.j - objEnd.j) > 0) )
                            {
                                return;
                            }
                            if (this.matrix[objEnd.i][objEnd.j].id != " " && this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) > 0)
                            {
                                return;
                            }
                            
                        }  
                        
                        //Quân tượng
                        if (event.currentTarget.id.indexOf("tuong") >=0 )
                        {
                            var tempchess = "do";
                            if(event.currentTarget.id.indexOf(tempchess) < 0)
                            {
                                tempchess= "den";
                            }
                            if( objEnd.i > 4 && objEnd.i <= 9 && objEnd.j >= 0 && objEnd.j < 9)
                            {
                                if((Math.abs(objStart.i - objEnd.i) == 2 && Math.abs(objStart.j - objEnd.j) == 2))
                                {
                                   
                                        if(objStart.i == 9)
                                        {
                                            //Xung quanh ngang không bị chặn
                                            if (objEnd.j > objStart.j && this.matrix[objStart.i - 1][objStart.j + 1].id != " "  )
                                            {
                                                console.log("banPick1");
                                                return;
                                            }
                                            if (objEnd.j < objStart.j && this.matrix[objStart.i - 1][objStart.j - 1].id != " "  )
                                            {
                                                console.log("banPick12");
                                                return;
                                            }
                                        }
                                        if(objStart.i < 9)
                                        {
                                            if(objStart.j > 0 && objStart.j < 8)
                                            {
                                                if (objEnd.j > objStart.j && this.matrix[objStart.i - 1][objStart.j + 1].id != " "  )
                                                {
                                                    console.log("banPick1");
                                                    return;
                                                }
                                                if (objEnd.j < objStart.j && this.matrix[objStart.i - 1][objStart.j - 1].id != " "  )
                                                {
                                                    console.log("banPick12");
                                                    return;
                                                }
                                                
                                               
                                                if (objEnd.i < objStart.i && this.matrix[objStart.i + 1][objStart.j - 1].id != " " )
                                                {
                                                    console.log("banPick2");
                                                    return;
                                                }
                                                else if (objEnd.i > objStart.i && this.matrix[objStart.i - 1][objStart.j + 1].id != " " )
                                                {
                                                    console.log("banPick3");
                                                    return;
                                                }
                                               
                                                
                                            }
                                            else
                                            {
                                                if(objStart.j == 0)
                                                {
                                                   
                                                        if( objStart.j < objEnd.j && this.matrix[objStart.i - 1][objStart.j + 1].id != " " )
                                                        {
                                                            console.log("banPick4");
                                                            return;
                                                        }
                                                    if(objStart.i < objEnd.i)
                                                    {
                                                        if( objStart.j < objEnd.j && this.matrix[objStart.i + 1][objStart.j - 1].id != " " )
                                                        {
                                                            return;
                                                        }
                                                    }
                                                }
                                                if(objStart.j == 8)
                                                {
                                                    if(objStart.i > objEnd.i)
                                                    {
                                                        if( this.matrix[objStart.i - 1][objStart.j - 1].id != " " )
                                                        {
                                                            console.log("banPick4");
                                                            return;
                                                        }
                                                    }
                                                    if(objStart.i < objEnd.i)
                                                    {
                                                        if( this.matrix[objStart.i + 1][objStart.j - 1].id != " " )
                                                        {
                                                            console.log("banPick45");
                                                            return;
                                                        }
                                                    }
                                                }
                                               
                                            }
                                            
                                        }
                                       
                                }
                                else if((Math.abs(objStart.i - objEnd.i) != 2 && Math.abs(objStart.j - objEnd.j) != 2) || 
                                (Math.abs(objStart.i - objEnd.i) == 2 && Math.abs(objStart.j - objEnd.j) != 2) || 
                                (Math.abs(objStart.i - objEnd.i) != 2 && Math.abs(objStart.j - objEnd.j) == 2)
                                )
                                {
                                    return;
                                }
                            }
                            else
                            {
                                return;
                            }
                            if (this.matrix[objEnd.i][objEnd.j].id != " " && this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) > 0)
                            {
                                return;
                            }
                        }

                        //Quân sĩ
                        if (event.currentTarget.id.indexOf("si") >=0 )
                        {
                            var tempchess = "do";
                            if(event.currentTarget.id.indexOf(tempchess) < 0)
                            {
                                tempchess= "den";
                            }

                            if( objEnd.i <= 9 && objEnd.i > 6 &&  objEnd.j > 2 && objEnd.j <6)
                            {
                                
                                if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) == 1))
                                {
                                    if (objStart.i == 9 && objStart.j == 3)
                                    {
                                        if (objEnd.i < objStart.i  && this.matrix[objStart.i - 1][objStart.j + 1].id != " " &&
                                        this.matrix[objStart.i - 1][objStart.j + 1].id.indexOf(tempchess) > 0 )
                                        {
                                            
                                            return;
                                        }
                                    }  
                                    else if (objStart.i == 9 && objStart.j == 5)
                                    {
                                        if (objEnd.i < objStart.i && this.matrix[objStart.i - 1][objStart.j - 1].id != " "  &&
                                        this.matrix[objStart.i - 1][objStart.j - 1].id.indexOf(tempchess) > 0 )
                                        {
                                        
                                            return;
                                        }
                                    }
                                    
                                    //Giữa cung
                                    if(objStart.i == 8)
                                    {
                                        if ( this.matrix[objEnd.i][objEnd.j].id != " " &&
                                        this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) > 0 )
                                        {
                                            
                                            return;
                                        }
                                    }
                                    if(objStart.i == 7 && objStart.j == 3)
                                    {
                                        if ( this.matrix[objStart.i + 1][objStart.j + 1].id != " " &&
                                        this.matrix[objStart.i + 1][objStart.j + 1].id.indexOf(tempchess) > 0 )
                                        {
                                            
                                            return;
                                        }
                                    }
                                    else if(objStart.i == 7 && objStart.j == 5)
                                    {
                                        if (this.matrix[objStart.i + 1][objStart.j - 1].id != " " &&
                                        this.matrix[objStart.i + 1][objStart.j - 1].id.indexOf(tempchess) > 0 )
                                        {
                                            
                                            return;
                                        }
                                    }
                                    
                                    

                                            
                                    
                                    

                                }
                                else if((Math.abs(objStart.i - objEnd.i) == 1 && Math.abs(objStart.j - objEnd.j) != 1) ||
                                (Math.abs(objStart.i - objEnd.i) != 1 && Math.abs(objStart.j - objEnd.j) == 1) ||
                                (Math.abs(objStart.i - objEnd.i) != 1 && Math.abs(objStart.j - objEnd.j) != 1))
                                {
                                    return;
                                }
                                
                            }
                            else
                            {
                                return;
                            }
                            
                            if (this.matrix[objEnd.i][objEnd.j].id != " " && this.matrix[objEnd.i][objEnd.j].id.indexOf(tempchess) >0)
                            {
                                return;
                            }
                        }
 
                    }
                    else
                    {
                        return;
                    }


                }
                else {
                    // It's not the current player's turn, handle accordingly
                    console.log("It's not your turn!");
                }
                
                var room = window.location.pathname.split('/').pop();
                console.log("Phòng"+room);
                var objPara = {};
                objPara.id = event.currentTarget.id;
                objPara.starti = objStart.i;
                objPara.startj = objStart.j;
                objPara.endi = objEnd.i;
                objPara.endj = objEnd.j;
                objPara.rooms = room;
                if(event.currentTarget.id.indexOf("do") >= 0)
                {
                    objPara.player = "do";
                }
                else if( event.currentTarget.id.indexOf("den") >= 0)
                {
                    objPara.player = "den";
                }
                var objParaList = [];
                var objRemove = {};
                objParaList.push(objPara);
                console.log("Vua dac cau location:"+ objEnd.i + "-" +objEnd.j +"Vua dac cau id:" + this.matrix[objEnd.i][objEnd.j].id);
                if (this.matrix[objEnd.i][objEnd.j].id != " ") {
                    //document.getElementById(matrix[objEnd.i][objEnd.j].id).style.display = "none";           
                    objRemove.id = this.matrix[objEnd.i][objEnd.j].id;
                    if(objPara.id === objRemove.id)
                    { 
                        return;
                    }
                    objParaList.push(objRemove);
                }
                            
                //Lưu di chuyển
                axios.post('/api/set-move-chess',
                    JSON.stringify(objParaList),
                    {
                        headers: {
                            'Content-type': 'application/json',
                        }
                    }).then(response => {
                        console.log('Ok');
                    });
                    
                
                /*
                var node = document.getElementById(event.currentTarget.id);
                node.style.top = matrix[objEnd.i][objEnd.j].top + 'px';
                node.style.left = matrix[objEnd.i][objEnd.j].left + 'px';
                matrix[objEnd.i][objEnd.j].id = matrix[objStart.i][objStart.j].id;
                matrix[objStart.i][objStart.j].id = "";
                */

                
            }
            
        },
        // Thay thế mã nguồn SignalR bên .net thực hiện websocket
        mounted: function () {
            var self = this;
            //var currentPlayer = 'do';
            this.getChessNode();
            // Tạo kết nối SockJS và Stomp
            var socket = new SockJS('http://localhost:8080/websocket');
            var stompClient = Stomp.over(socket);
            
            var room = window.location.pathname.split('/').pop();
            stompClient.connect({}, function (frame) {
                console.log('WebSocket connection opened.');
                // Đăng ký để lắng nghe tin nhắn từ topic "/topic/chessMove"
                stompClient.subscribe('/topic/chessMove/'+room, function (message) {
                    var objList = JSON.parse(message.body);
                    console.log(objList);
                   
                    // Xử lý tin nhắn "ChessMove"
                    
                        var node = document.getElementById(objList[0].id);
                       
                        node.style.top = self.matrix[objList[0].endi][objList[0].endj].top + 'px';
                        node.style.left = self.matrix[objList[0].endi][objList[0].endj].left + 'px'; 
        
                        self.matrix[objList[0].endi][objList[0].endj].id = node.id;
                        self.matrix[objList[0].starti][objList[0].startj].id = " ";
                        
                        if (objList.length === 2) {
                            document.getElementById(objList[1].id).style.display = "none";
                        }
                        self.currentPlayer = objList[0].player;
                        self.currentPlayer = (self.currentPlayer === 'do') ? 'den' : 'do';
                        console.log("Player change to "+self.currentPlayer)
                        
                });
            });
        
            stompClient.onerror = function (error) {
                console.error("WebSocket error: " + error);
            };
        
            stompClient.onclose = function () {
                console.log("WebSocket connection closed.");
            };
        }
    });
</script>