<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chess List</title>
  <th:block th:replace="~{layout::link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div layout:fragment="content" class="container">
  <div id="popup" class="popup">
    <div class="popup-content">
        <span th:onclick="closePopup()" class="close">&times;</span>
        <form th:action="@{/rooms/add}" method="post">
          <label for="inputText">Nhập ký tự:</label>
          <input type="text" id="inputText" name="inputText">
          <button type="submit">OK</button>
        </form>
    </div>
  </div>
 
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Room name</th>
      <th>Người tạo</th>
      <th>Số lượng người chơi</th>
      <th>Ngày tạo</th>
      <th>Tùy chọn</th>
    </tr>
    <tr th:each="list:${PlayerList}">
      <td th:text="${list.Roomid.IdRoom}"></td>
      <td th:text="${list.Roomid.TenPhong}"></td>
      <td th:text="${list.Userid.Ten}"></td>
      <td th:text="${list.SoLuong}"></td>
      <td th:text="${list.NgayTao}"></td>
      <td>
        <a th:href="@{/play/start/{id} (id=${list.Roomid.IdRoom})}">Tham gia</a>
      </td>
    </tr>
  </table>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
<script>
  document.getElementById('popup').style.display = 'none';
 
  function closePopup() {
    document.getElementById('popup').style.display = 'none';
  }
  document.getElementById("addnew").onclick = function(event) {
    document.getElementById('popup').style.display = 'block';
  };
</script>